html{
    height: 100%;
    width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-family: "PingFang SC", "Lantinghei SC", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑, STHeitiSC-Light, simsun, 宋体, "WenQuanYi Zen Hei", "WenQuanYi Micro Hei", sans-serif;
    line-height: 1.5715;
    background-color: #ffffff;
    font-feature-settings: 'tnum';
}
body::-webkit-scrollbar-track-piece,body::-webkit-scrollbar-track-piece {
    background: #eee;
}
body::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cbcbcb;
}
body::-webkit-scrollbar,body::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
::selection {
    color: #fff;
    background: #79a7f1;
}
.layui-container{
    margin: 0;
    width: 100%;
    padding: 6px;
}
.photos-box{
    overflow: hidden;
    padding: 6px;
    height: 16vw;
}
.coverImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photos{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: white;
    box-shadow: aliceblue;
    position: relative;
    display: block;
    cursor: pointer;
}

.photos-mask{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #0a0a0a45;
    width: 100%;
    height: calc(16vw - 12px);
    color: white;
    opacity: 0;
    transition: transform 0.35s, opacity 0.35s, -webkit-transform 0.35s;
}
.show-mask{
    opacity: 1;
}
.photos-mask .photos-mask-num{
    text-align: right;
    padding-right: 15px;
    margin-left: 8px;
}
.photos-mask .photos-mask-num .num-icon{

}
.photos-mask .photos-mask-title{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 600;
}
.photos-mask .photos-mask-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.photos-mask .photos-msg{
    bottom: 0;
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
    padding: 10px;
    background: #00000024;
}
.header{
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    background: white;
}
.layui-container{
    width: 100%;
    padding: 6px;
    margin: 50px 0 0;
}
.header-item{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.header-item a{
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    font-size: 14px;
    color: #777;
    font-family: SimSun;
}

.web-name a{
    color: #5a5a5a;
    font-family: Times New Roman, NSimSun;
    font-weight: normal;
    font-size: 24px;
    font-style: italic;
}
.m-pager-box{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.m-pager{
    padding-left: 10px;
    padding-right: 10px;
    color: #777;
}
.disabled{
    pointer-events: none;
    color: #b7b7b7;
}
.active{
    color: #5f91e5;
    pointer-events: none;
}
.no-content{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #777;
}
.footer{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #e7e7e7;
    width: 100%;
    display: block;
    text-align: center;
}
.m-footer-left{
    margin-right: 40px;
}
.photos-detail{
    width: 100%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #777;
}
.photos-detail span{
    margin-right: 6px;
}
.layui-icon{
    position: relative;
    top: 2px;
    font-weight: 600;
}
.password-verify{
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;
}
.password-verify input{
    height: 20px;
    width: 200px;
    padding: 5px;
    border: 1px solid #ddd;
}
.password-verify button{
    height: 33px;
    width: 60px;
    background: white;
    cursor: pointer;
    border: 1px solid #ddd;
}
.layui-laypage a{
    border: none;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: white;
}
.layui-laypage .layui-laypage-curr em {
    color: inherit;
}
.layui-laypage a:hover{
    color: #606060;
}
.layui-laypage a, .layui-laypage span{
    color: #777;
}
#laypage{
    text-align: center;
}
@media screen and (max-width: 1199px) {
    .photos-box {
        height: 23vw;
    }
    .photos-mask{
        height: calc(23vw - 12px);
    }
}
@media screen and (max-width: 991px) {
    .photos-box {
        height: 32vw;
    }
    .photos-mask{
        height: calc(32vw - 12px);
    }
}
@media screen and (max-width: 767px) {
    .photos-box {
        height: 45vw;
    }
    .photos-mask{
        height: calc(45vw - 12px);
    }
}